@model Sabr.ViewModels.DashboardViewModels.HistoricalBioViewModel
@{
    ViewBag.Title = "HistoricalBio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.HistoricalTeam.TeamName</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Age</th>
            <th>Height</th>
            <th>Weight</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model.HistoricalPlayersList)
        {
            if (player.HistoricalTeamId == Model.HistoricalTeam.Id)
            {
                <tr>
                    <td>@Html.ActionLink((player.FirstName + " " + player.LastName), "HistoricalPlayerBio", "Dashboard", new { name = (player.FirstName + " " + player.LastName), season = Model.HistoricalTeam.SeasonId, position = player.PlayerPositionId }, null)</td>
                    <td>@player.PlayerPosition.Position</td>
                    <td>@player.Age</td>
                    <td>@player.FootHeight'@player.InchHeight"</td>
                    <td>@player.Weight</td>
                </tr>
            }

        }
    </tbody>
</table>

