@model Sabr.ViewModels.DashboardViewModels.PlayerBioViewModel
@{
    ViewBag.Title = "PlayerBio";
    Layout = "~/Views/Shared/_LayoutPlayerBio.cshtml";
}

<h2>@Model.PlayerStats.Player.Split('\\')[0] @Model.SabrMetric</h2>
<li>@Model.PlayerStats.Points ppg</li>
<li>@Model.PlayerStats.Assists apg</li>
<li>@Model.PlayerStats.TotalRebounds rpg</li>
<li>@Model.PlayerStats.Steals spg</li>
<li>@Model.PlayerStats.Blocks bpg</li>
<li>@decimal.Round((decimal.Parse(Model.PlayerStats.FieldGoalPercentage)*100), 1) fg%</li>
<li>@decimal.Round((decimal.Parse(Model.PlayerStats.ThreePointPercentage)*100), 1) 3p%</li>
<li>@decimal.Round((decimal.Parse(Model.PlayerStats.FreeThrowPercentage) * 100), 1) ft%</li>
<li>@Model.PlayerStats.Turnovers tpg</li>